body {
    padding: 0;
    margin: 0;
    width: 100%;
}

.sky,
.grass,
.road {
    position: relative;
}

.sky {
    background: skyblue;
    height: 250px;
}

.sky img:nth-child(1) {
    position: absolute;
    left: 0;
    top: 70px;
    width: 200px;
    opacity: 0.5;
    animation: wind 30s linear infinite reverse;
}

.sky img:nth-child(2) {
    position: absolute;
    left: 0;
    top: 10px;
    animation: wind 45s linear infinite;
}

@keyframes wind {
    from {
        transform: translateX(-400px);
    }
    to {
        transform: translateX(1800px)
    }
}

.grass {
    background-image: repeating-linear-gradient(to top, rgb(72, 202, 32) 10%, green 20%, rgb(44, 218, 44) 10%);
    height: 150px;
}

.road {
    background-color: rgb(71, 71, 71);
    height: 330px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.road .line {
    width: 150%;
    height: 0.5px;
    border: 10px white dashed;
    position: absolute;
    z-index: -1;
}

.road .vandi img:nth-child(1) {
    width: 200px;
    left: 0;
    top: -30px;
    position: absolute;
    animation: drive 6s ease-in infinite, jump 1s ease-in-out 4s;
}

.road .vandi img:nth-child(2) {
    left: 0;
    top: 140px;
    position: absolute;
    animation: drive 9s ease-out infinite;
}

@keyframes drive {
    0% {
        left: -20%;
    }
    100% {
        left: 100%;
    }
}

@keyframes jump {
    0% {
        top: -30px;
    }
    50% {
        top: -100px;
    }
    100% {
        top: -30px;
    }
}